<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750369326371-sjadflnmq41koog1mo2qiodalivvqs24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750369326371-sjadflnmq41koog1mo2qiodalivvqs24</string>
	<key>API_KEY</key>
	<string>AIzaSyDNh4pCgyJ4XHoCg6nll1l0PCt2kkFkjaY</string>
	<key>GCM_SENDER_ID</key>
	<string>750369326371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>e.docenko.BetMate</string>
	<key>PROJECT_ID</key>
	<string>betmate-483c8</string>
	<key>STORAGE_BUCKET</key>
	<string>betmate-483c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750369326371:ios:5aa25adecd1b78cbbd7896</string>
</dict>
</plist>